@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-weight: 200;
}

.heroElem {
  animation: scaleDownIn 1.5s cubic-bezier(0.87, 0, 0.13, 1);
}

.heroElem .sqD:not(.squiggle-hero-pop1) {
  animation: float 2s infinite ease-in-out;
}
.heroTitle .sqD {
  @apply scale-[0.8] lg:scale-100;
}

/* All svg squiggle decorations */
.sqD {
  @apply absolute z-[-10];
}

section {
  scroll-snap-align: start;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0.5em;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: transparent;
}
